* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

html {
    font-size: 62.5%;
    // font family 지정되면 추가 
}

#global {
    width: 100vw;
    font-size: 1.6rem;
    min-height: 100vh;
}

#app {
    display: grid;
    grid-template-rows: 10rem 1fr 15rem;
    min-height: 100vh;
}

.css-ahj2mt-MuiTypography-root {
    font-size: 1.6rem !important;
}